<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_account">

    <application
        android:name="example.common_base.app.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArtificialEmailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ArtificialFormActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ArtificialLoginBySmsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ArtificialQuestion1Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ArtificialQuestion2Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ArtificialResultActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SetPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.RetrievePasswordByEmailActivity"
            android:launchMode="singleInstance" />

        <!--<activity-->
        <!--android:name=".activity.ValidateCodeLoginActivity"-->
        <!--android:launchMode="singleTop" />-->


    </application>
</manifest>