<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_pk">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="example.common_base.app.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstEntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PkRaterActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name=".activity.PkRaterMatchActivity"
            android:launchMode="singleTop" />
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name=".activity.PkSingerMatchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SearchSongInPkActivity"
            android:launchMode="singleTop" />
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name=".activity.PkSingerActivity"
            android:launchMode="singleTop" />
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name=".activity.PkModeActivity"
            android:launchMode="singleTop" />
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name=".activity.PkLoadingActivity"
            android:launchMode="singleInstance" />
        <activity
            android:windowSoftInputMode="adjustNothing"
            android:name=".activity.IncomeActivity"
            android:theme="@style/TransparentActivityTheme" />

        <activity
            android:name=".activity.PkShareActivity"
            android:windowSoftInputMode="adjustNothing" />

    </application>

</manifest>