<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_setting">

    <application
        android:name="example.common_base.app.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BlackListActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.SettingAccountActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingMessageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingPrivacyActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>